*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
.banner {
    position: relative;
    background: url(images/baby%20turtles.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    white-space: nowrap;
}
.banner:before {
    content: '\00a0';
    display: inline-block;
    height: 100%;
    width: 0px;
    vertical-align: middle;
}
.banner:after {
    content: '\00a0';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5)
}
.banner > hgroup{
    position: relative;
    display: inline-block;
    max-width: 720px;
    margin: 0 auto;
    vertical-align: middle;
    white-space: normal;
    z-index: 100;
}
.banner > hgroup > h1{
    color: #fff;
    font: 100 50px/60px 'Sansita Swashed', cursive;
    text-transform: uppercase;
    text-shadow: 0px 2px 3px rgba(0,0,.25);
    
}
.banner > hgroup > h2{
    color: #fff;
    font: 100 36px/36px ;
    text-transform: capitalize 'Raleway', sans-serif;
    text-shadow: 0px 2px 3px rgba(0,0,.25)
}
.banner > hgroup > a {
    display: inline-block;
    background-color: green;
    border-radius: 24px;
    margin: 12px 0 0 0;
    padding: 9px 24px;
    color: #fff;
    font: 500 24px/36px arial;
    text-transform: uppercase;
    text-decoration: none;    
}
.banner > hgroup > a:hover {
    background: red;
}

ul.product-list{
    list-style-type: none;
    background: green;
    padding: 12px;
}
ul.product-list > li{
    border-style: solid;
    border-collapse: separate;
    border-spacing: 15px 50px;

    margin:0 0 12px 0;
    background: url(images/sand.jpg);
}
ul.product-list > li > img{
    width: 20%;
    background-color: whitesmoke;
    border-style: groove;
    margin: 10px; 
    display: inline-block;
    vertical-align: middle;
    min-width: 100px;
    
}
ul.product-list > li > div{
     border-style: groove;
    background-color: whitesmoke;
    margin: 10px;;
    width: 66%;
  height: 50%;
    display: inline-block;
    vertical-align: middle;
}
    
ul.product-list > li > div > a{
    float: right;
    border-radius: 50%;
    padding: 5px;
    border-color: darkred;
    color:darkred;
    outline: none;
    background-color: lightpink;
    box-shadow: 2px 3px;
    cursor: pointer;
    text-shadow: 1px 0px;
}


ul.product-list > li > div > hgroup{
    font-size: 30px;
    overflow: hidden;
}
ul.product-list > li > div > hgroup > h3{
    text-transform: capitalize 'Raleway', sans-serif;
}
ul.product-list > li > div > hgroup > h4{
    font-family: 'EB Garamond', serif;
}
ul.product-list > li > div > hgroup > h5{
    text-transform: capitalize 'Raleway', sans-serif;
    float: right;
}
ul > li:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

@media all and (max-width: 535px){
    ul.product-list > li{
        
    }
    ul.product-list > li > div {
        margin: 10px auto;
        display: block;
    }
    ul.product-list > li > img {
        margin: 10px auto;
        display: block;
    }
    ul.product-list {
        background: green;
    }
}

@media all and (min-width: 1200px){
    ul.product-list {
        background: green;
        height: 830px;
    }
    ul.product-list > li{
        float: left;
        width: 46%;
        padding: 0;
        margin: 20px;
        height: 360px;
        background: url(images/sand.jpg);
    } 
}

ul.product-list {
    background: green;
}













.product-details {
   background: url(images/sand.jpg);
    border: solid;
}


.product-details> section > h1 {
    font: 100 50px/60px 'Sansita Swashed', cursive;
    text-align: center;
}
.product-details > section > .photo-gallery {
    text-align: center;
}
.product-details > section > .photo-gallery > .primary-photo {
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}
.product-details > section > .photo-gallery > img {
    display: inline-block;
    max-width: 24%;
    max-height: 150px;
    margin: 0;
    border: 3px solid #000;
}

.details {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
}

.product-details > section > div > h2 {
    font-family: capitalize 'Raleway', sans-serif;
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-details > section > div > p {
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-size:24px
}

.product-details > section >div > form > a {
    font: 100 30px/60px 'Sansita Swashed', cursive;
    background-color: #4CAF50;  Green; 
    border: solid;
    padding: 1px 20px;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: 200px;

}

.product-details > section > form > a:hover {
    background: red;
}

.product-sizes {
    text-align: center;
    font: 100 30px/60px 'Sansita Swashed', cursive;
}

.product-color {
    text-align: center;
    font: 100 30px/60px 'Sansita Swashed', cursive;
}


@media all and (max-width: 555px){
    .product-details > section > div > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        border: solid;
        margin-bottom: 10px;
        margin-top: 10px
      
    }
}

@media all and (min-width: 1100px){
    .product-details{
        overflow: hidden;
        min-height: 100%;
    }
    .pictures {
        width: 49%;
        display: inline-block;
        vertical-align: middle;
    }
    
    .details {
        width: 49%;
       
        display: inline-block;
       vertical-align: middle;
        
    }
    div.product-details {
        background: url(images/sand.jpg);
        border: solid;
    }
    .banner:before {
    content: '\00a0';
    display: inline-block;
    height: 100%;
    width: 0px;
    vertical-align: middle;
    }
    .details {
        vertical-align: middle;
        width: 49%;
        display: inline-block;
        border: solid;
    }
    
}